@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
}

#Holder {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Content {
    width: 400px;
    height: auto;
}
